<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CrudBasico" connectionString="Data Source=(local);Initial Catalog=CRUDFluentNhibernate;Integrated Security=False; User Id=sa; Password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>